@maxWidth: 820px;
// 状态
@primary: #409eff;
@success: #67c23a;
@info: #909399;
@warning: #e6a23c;
@error: #f56c6c;
@text: #505050;
@inputText: #aeafb3;

// 动态
@disabled: #808080;

// 基础
@baseFillet: 3px;
@baseBgColor: #f0f0f0;
@baseBorder: 1px solid #f0f0f0;
@baseTransTime: 0.3s;