@borderColor: #f0f0f0;
@codeBgColor: #f0f0f0;
@primary: #409eff;
@success: #67c23a;
@info: #909399;
@warning: #e6a23c;
@error: #f56c6c;
@text: #505050;
@maxWidth: 820px;
@borderBase: 1px solid #f0f0f0;